<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.sys.mapper.AdminMapper">

    <select id="getWorkList" resultType="work">
        SELECT * FROM t_work;
    </select>

    <select id="getUserPosition" parameterType="Integer" resultType="String">
        SELECT depart_name FROM t_depart WHERE depart_id= #{id};
    </select>

    <insert id="addEmployeeInfos" parameterType="user">
      INSERT INTO t_user(user_name, user_age, user_sex, user_position, depart_id, user_num, user_pass, work_id, del_status)
	      VALUES(#{user_name}, #{user_age}, #{user_sex}, #{user_position}, #{depart_id}, #{user_num}, #{user_pass}, #{work_id}, #{del_status});
    </insert>

    <select id="getAllEmployeeInfos" resultType="user">
      SELECT * FROM t_user WHERE del_status = 0;
    </select>

    <select id="getEmployeeList" resultType="user">
        select * from t_user;
    </select>

    <select id="getLeaveDays" parameterType="attend" resultType="Integer">
        SELECT SUM(leave_days) FROM t_leave WHERE user_id = #{user_id} AND del_status = 0 AND begin_time LIKE '%${attend_date}%'
    </select>

    <insert id="addAttendInfo" parameterType="attend">
        insert into t_attend(attend_days,user_id,attend_date,leave_days) values(#{attend_days},#{user_id},#{attend_date},#{leave_days});
    </insert>

    <select id="getAttendList" resultType="attend">
        select attend_days,attend_date,user_name from t_attend ta,t_user tu where ta.user_id = tu.user_id;
    </select>

    <select id="getBasicMoney" parameterType="Integer" resultType="Integer">
        SELECT work_money FROM t_work,t_user WHERE t_work.work_id = t_user.work_id AND t_user.user_id = #{id};
    </select>

    <select id="getAttendInfo" parameterType="money" resultType="attend">
        select * from t_attend where user_id = #{user_id} and attend_date = #{pay_date};
    </select>

    <insert id="addMoneyInfo" parameterType="money">
        insert into t_pay(pay_num, user_id, pay_date) values(#{pay_num}, #{user_id}, #{pay_date});
    </insert>

    <select id="getPayList" resultType="money">
        select * from t_pay;
    </select>
</mapper>